header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 6;
}
nav {
    padding-right: 1%;
    float: right;
    font-size: 2vh;
}
li {
    display: inline-block;
}
li a{
    color: white;
    display: inline-block;
    text-align: center;
    padding: 2vh 0.7vw;
    text-decoration: none;
}
.user{
    float: left;
    font-size: 0.8em;
    padding: 0.15em 0;
}
.user a{
    text-decoration: underline;
}
@media (min-width: 724px) and (max-width: 1281px) {
    nav {
        font-size: 4vh;
    }
    li a{
        padding: 3vh 0.7vw;
    }
}
@media (max-width: 724px) {
    li a{
        padding: 3vw 0.7vw;
    }
    nav {
        font-size: 3.8vw;
    }
    .user{
        float: right;
    }
    .user :first-child{
        float: right;
    }
}   