section{
    padding-top: 5vh;
    height: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
}
h1{
    text-align: center;
    font-size: 8vh;
    width: 80%;
}
.circle{
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    transform: translateZ(0) translateY(25%);
    transition: 5s all;
    width: 50%;
    padding-bottom: 50%;
    top: -20%;
    right: -10%;
    z-index: -1;
}
@media (max-width: 1281px) {
    .circle{
        width: 71%;
        padding-bottom: 71%;
        right: 0;
        top: 0;
        margin-right: -36%;
        margin-top: -21%;
    }
    h1{
        width: 68%;
    }
}
@media (min-width: 724px) and (max-width: 1281px){
    section{
        padding-top: 10vh;
    }
}  
