<section class="mouse-wheel" submitScroll>
    <section class="cover-section" *ngIf="!this.wheelDirective.isMobile"> 
        <div class="input-container">
            <label for="cover" class="as-field">
                <i class="fas fa-image"></i> 
                <span>Cover:</span>
            </label>
            <input name="cover" (change)="addCover($event)" type="file" id="cover" ngModel required>        
        </div> 
        <div  class="background-animation">
            <label>
                <i class="fas fa-image"></i> 
                <span>Cover:</span>
            </label>
        </div>  
        <div class="cover"> 
            <div [ngStyle]="{'background-image':'url(' + coverURL + ')'}" *ngIf="coverURL"></div>
        </div>
    </section>
    <section class="extension-section">
        <div class="extension-container" [ngClass]="{'fade-in' : this.wheelDirective.submitComponent.currentSection != 'coverSection'}" #extensionSection> 
            <div class="logo-container">
                <div class="circle-container">
                    <div class="hover-circle"></div>
                </div>
                <img [src]="getSanitizeUrl(logoURL)" *ngIf="logoURL"/>
                <div class="submit-menu">
                    <input name="file" (change)="addFile($event)" type="file" id="file" ngModel required>
                    <label for="file">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </label>   
                    <input name="logo" (change)="addLogo($event)" type="file" id="logo" ngModel required>
                    <label for="logo">
                            <i class="fas fa-image"></i>
                    </label> 
                    <label type="submit" (click)="createExtension()">
                        <i class="fas fa-angle-double-right"></i>
                    </label>
                </div>
                <input name="logo" (change)="addLogo($event)" type="file" id="logo" ngModel required>
            </div>
            <div class="extension">
                <div class="github-container">
                    <div class="github" *ngIf="github">
                        <span>User:</span>
                        <span>Last commit</span>
                        <span>Open issues</span>
                        <span>Pull requests</span>
                        <span>{{github.user}}</span>
                        <span>{{github.lastCommit | date: 'yyyy-MM-dd'}}</span>
                        <span>{{github.openIssues}}</span>
                        <span>{{github.pullRequests}}</span>
                    </div>
                </div>
                <form [formGroup]="extensionForm" class="extension-info-container" (submit)="createExtension()">                
                    <input name="name" formControlName="name" placeholder="Name" class="name">
                    <div *ngIf="nameAvailable !== undefined" class="loading-container">
                        <i *ngIf="nameAvailable === null" class="fas fa-circle-notch fa-spin"></i>
                        <i *ngIf="nameAvailable == true" class="fas fa-check"></i>
                        <i *ngIf="nameAvailable == false" class="fas fa-exclamation-triangle"></i>
                        <span *ngIf="errors.name" class="error">{{errors.name}}</span>
                    </div>
                    <input name="github" formControlName="github" type="text" placeholder="GitHub repo">
                    <div *ngIf="githubAvailable !== undefined" class="loading-container">
                        <i *ngIf="githubAvailable === null" class="fas fa-circle-notch fa-spin"></i>
                        <i *ngIf="githubAvailable == true" class="fas fa-check"></i>
                        <i *ngIf="githubAvailable == false" class="fas fa-exclamation-triangle"></i>
                        <span *ngIf="errors.github" class="error">{{errors.github}}</span>
                    </div>
                    <input class="version" name="version" formControlName="version" placeholder="Version">
                    <div *ngIf="errors.version" class="error"><i class="fas fa-exclamation-triangle"></i>{{errors.version}}</div>
                    <textarea name="description" formControlName="description" placeholder="Description"></textarea>
                    <div *ngIf="errors.description" class="error"><i class="fas fa-exclamation-triangle"></i>{{errors.description}}</div>
                    <div *ngIf="error" class="error"><i class="fas fa-exclamation-triangle"></i>{{error}}</div>
                </form>
            </div>
            <div #tagsContainer class="tags">
                <div *ngFor = "let tag of tags" class="tag" (click)="removeTag(tag)" ><i class="fas fa-tags"></i>{{tag}}</div>
                <div class='tag-input' [ngClass]="{'fixed' : tags.length == 0 }">
                    <input [formControl]="tagsInput" (keyup)="tagInput($event)" placeholder="Tags" #tagsInputElmnt>
                    <span  *ngIf="errors.tag">
                        <i class="fas fa-exclamation-triangle"></i>
                        {{errors.tag}}
                    </span>
                </div>
            </div>
            <div class="circle-container">
                <span [ngClass]="{'animate' : this.wheelDirective.submitComponent.currentSection != 'coverSection'}" class="circle" id="circle"></span>
            </div>
        </div>
    </section>
    <div *ngIf="githubAvailable === null || isLoading" class="loading-animation">
        <div>
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
    </div>
</section>