<section #discoverSection profileScroll>
    <span *ngIf="extensionsService.config.totalItems == null || extensionsService.config.isLoading" class="loading-animation">
        <div>
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
    </span>
    <form>
        <input [formControl]="search">
        <button>Search</button>
    </form>
    <div class="menu">
        <ul>
            <label>Order by:</label>
            <input [checked]="extensionsService.orderBy == 'name'" name="order" value="name" id="name" type="radio" (click)="changeCriteria($event)">
            <label for="name"><i class="fa fa-i-cursor"></i>Name</label>
            <input [checked]="extensionsService.orderBy == 'downloads'" name="order" value="downloads" id="download" type="radio" (click)="changeCriteria($event)">
            <label for="download" type='radio'><i class="fa fa-fire"></i>Download</label>
            <input [checked]="extensionsService.orderBy == 'date'" name="order" value="date" id="upload" type="radio" (click)="changeCriteria($event)">                
            <label for="upload" type='radio'><i class="fas fa-calendar-alt"></i>Upload</label>
            <input [checked]="extensionsService.orderBy == 'commits'" name="order" value="commits" id="commit" type="radio" (click)="changeCriteria($event)">
            <label for="commit" type='radio'><i class="fas fa-code-branch"></i>Commit</label>
            <label>Extensions found: {{extensionsService.config.totalItems}}</label>
        </ul>
    </div>
    <span class="circle first"></span>
    <span *ngIf="this.wheelDirective.isMobile && extensionsService.totalExtensions" [ngStyle]="{'transform': 'translateY(' + (-this.wheelDirective.scrolledAmount * 13) + '%)', 'transition': this.wheelDirective.scrolledAmount == 0 ? '0s all' : '5s all'}" class="circle second"></span>
    <span *ngIf="this.wheelDirective.isMobile && extensionsService.totalExtensions" [ngStyle]="{'transform': 'translateY(' + (-this.wheelDirective.scrolledAmount * 16.5) + '%)', 'transition': this.wheelDirective.scrolledAmount == 0 ? '0s all' : '5s all'}" class="circle third"></span>
    <app-extensions-list></app-extensions-list>
</section>
