<section [ngClass]="{ 'fade-in' : this.profileAnimationService.isAnimated }" profileScroll class="profile-section" #profileSection>
    <section [ngClass]="{ 'expanded' : isInfoToggled && !wheelDirective.isMobile }" [ngStyle]="{ 'min-height' : !user ? '100vh' : 'auto' }" class="user-profile">
        <span *ngIf="!user" class="loading-animation">
            <div>
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </span>
        <div class="logo-container">
            <div class="hover-circle">
            </div>
            <img [src]="baseUrl + 'api/files/download/' + user.profileImage" *ngIf="user && user.profileImage"/>
        </div>
        <div *ngIf="user" class="user-info-container">
            <h1>{{user.username}}</h1>
            <div class="user-info">
                <h2>Extensions: {{user.totalExtensions}}</h2>
                <h3>Rating: {{user.rating}}</h3>
                <h4>Country: {{user.country}}</h4>
                <h5>Info</h5>
                <p [ngStyle]="{ 'height' : isInfoToggled || this.wheelDirective.isMobile ? 'auto' : '40%' }" #userInfo>
                    {{user.info}}
                </p>
            </div>
        </div>
        <div class="circle-container">
            <span [ngClass]="{'animate' : profileAnimationService.isAnimated, fixed: isInfoToggled}" [ngStyle]="{'transform': profileAnimationService.isAnimated && !wheelDirective.isMobile && !isInfoToggled ? 'translateY(' + profileAnimationService.circleTransform / 10 + '%)' : wheelDirective.isMobile ? '' : isInfoToggled ? 'translate(-50%, -75%)' : 'translateY(90%)'}" class="circle" id="circle"></span>
        </div>
        <button (click)="toggleInfo()" class="info-button">
            <i class="fas fa-info"></i>
        </button>
    </section>
    <section>
        <span *ngIf="profileAnimationService.isDisplayed && (extensionsService.config.totalItems == null || extensionsService.config.isLoading)" class="loading-animation">
            <div>
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </span>
        <app-extensions-list class="profile">
        </app-extensions-list>
    </section>
</section>
