<section [ngClass]="{ 'fade-in' : this.profileAnimationService.isAnimated }" mouseWheel class="profile-section" #profileSection>
    <section [ngStyle]="{ 'min-height' : !user ? '100vh' : 'auto' }" class="user-profile">
        <span *ngIf="!user" class="loading-animation">
            <div>
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </span>
        <div class="logo-container">
            <div class="hover-circle">
            </div>
            <img [src]="baseUrl + 'api/files/download/' + user.profileImage" *ngIf="user && user.profileImage"/>
        </div>
        <div *ngIf="user" [ngClass]="{ 'expanded' : isInfoToggled && !wheelDirective.isMobile }" class="user-info-container">
            <h1>{{user.username}}</h1>
            <div class="user-info">
                <h2>Extensions: {{user.totalExtensions}}</h2>
                <h3>Rating: {{user.rating}}</h3>
                <h4>Country: {{user.country}}</h4>
                <h5>Info</h5>
                <p [ngStyle]="{ 'height' : isInfoToggled || this.wheelDirective.isMobile ? 'auto' : '40%' }" #userInfo>
                    {{user.info}}
                </p>
            </div>
        </div>
        <div class="circle-container">
            <span [ngClass]="{'animate' : profileAnimationService.isAnimated}" [ngStyle]="{'transform': profileAnimationService.isAnimated && !wheelDirective.isMobile ? 'translateY(' + profileAnimationService.circleTransform / 5 + '%)' : wheelDirective.isMobile ? 'translate(-50%, -63%)' : 'translateY(90%)'}" class="circle" id="circle"></span>
        </div>
        <button (click)="toggleInfo()" class="info-button">
            <i class="fas fa-info"></i>
        </button>
    </section>
    <app-extensions-list class="profile"></app-extensions-list>
</section>
