Button{
    cursor: pointer;
}
pagination-template ul{
    text-align: center;
    height: calc(1vw + 2vh);
    font-size: 2vh;
    margin-bottom: 2vh;
}
pagination-template li{
    display: inline-block;
    margin-right: 0.2vw;
}
pagination-template li.current span{
    background: black;
    color: white;
    cursor: default;
    border-radius: 0.2vw;
    padding: 0.5vw 0.7vw;
    box-shadow: 0 0 0.1vw 0.1vw black;
    display: block;
}
pagination-template ul a:hover{
    background: rgba(0, 0, 0, 0.4);
}
pagination-template a{
    display: block;
    border-radius: 0;
    cursor: pointer;
    padding: 0.5vw 0.7vw;
    text-shadow: 0 0 0.07vw black;
}
pagination-template .previous.disabled::before{
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;
}
pagination-template .previous.disabled{
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
}
pagination-temlate a{
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
}
pagination-template .previous a::before{
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;
}
pagination-template .next.disabled{
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
}
pagination-template .next.disabled::after{
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;
}
pagination-template .next a::after{
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;
}
.loading-container{
    display: inline-block;
    width: 5%;
}
.loading-animation div{
    height: 5%;
    margin: auto;
    width: 5%;
    text-align: center;
    font-size: 2em;
}
.loading-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    margin: 0;
    visibility: visible;
    background: #00000080;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.loading-container:hover ~ input.error{
    display: block;
}
input::-moz-placeholder{
    color:#999;
    opacity:1
}

input:-ms-input-placeholder{
    color:#999
}

input::-webkit-input-placeholder{
    color:#999
}

@media (max-width: 724px){
    pagination-template li a,
    pagination-template li.current span{
        padding: 2vw 2.8vw;
    }
    pagination-template li.current span{
        box-shadow: 0 0 0.35vw 0.35vw black;
    }
}
@media (min-width: 724px) and (max-width: 1281px) {
    pagination-template ul{
        margin-bottom: 5vh;
    }
    pagination-template li a,
    pagination-template li.current span{
        padding: 1.3vw 1.5vw;
    }
    pagination-template li.current span{
        box-shadow: 0 0 0.2vw 0.2vw black;
    }
}